body {
  margin: 0 auto;
  background-color: salmon;
  text-align: center;
}

.card {
  display: inline-block;
  font-size: 60px;
  margin: auto;
  border: 1px solid black;
  position: relative;
  height: 350px;
  width: 250px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 5%;
  -moz-border-radius: 5%;
}

.number {
  position: relative;
  top: 135px;
  left: -15px;
}
.spade-left {
  position: relative;
  font-size: 50px;
  top: -10px;
  left: -55px;
}

.spade-right {
  position: absolute;
  font-size: 50px;
  top: 295px;
  left: 200px;
  -webkit-transform: rotate(-180deg);
}

/* &.spade:before,
&.spade:after {
  content: "\2660";
}
&.club:before,
&.club:after {
  content: "\2663";
}
&.heart:before,
&.heart:after {
  content: "\2665";
}
&.diamond:before,
&.diamond:after {
  content: "\2666";
} */
